@import './variables';

.title{
    color: $white;
    font-family: 'Abril Fatface', cursive;
    font-size: 32px;
    text-align: center;

    &.dark {
        color: #5f5548;
    }
}

.subtitle {
    text-align: center;
    color: lighten( $teal, 40 );
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    max-width: 920px;
    margin: 20px auto 50px;

    &.dark {
        color: #5f5548;
    }
}

.gallery {
    background-color: $teal;
    padding: 80px 0;
}

.wrapper {
    &:hover {
        .thumbnail {
            transform: translateY(-5px);
            box-shadow: 0 5px 20px rgba(0,0,0,.3);
        }

        .description {
            opacity: 1;
            bottom: -32px;
        }
    }

    @media screen and (max-width: 991px) {
        margin-bottom: 80px;

        &:hover {
            .thumbnail {
                transform: translateY(0);
                box-shadow: none;
            }

            .description {
                bottom: -55px
            }
        }
    }

    .thumbnail {
        width: 100%;
        border-radius: 6px;
        border: none;
        padding: 0;
        overflow: hidden;
        box-shadow: 0 2px 10px rgba(0,0,0,.3);
        transition: .4s all;

        img { width: 100%; }
    }

    .description {
        color: lighten( $teal, 40 );
        text-align: center;
        font-size: 18px;
        font-weight: 300;
        position: absolute;
        bottom: -20px;
        width: calc(100% - 30px);
        opacity: 0;
        transition: .4s all;

        @media screen and (max-width: 991px) {
            opacity: 1;
            bottom: -55px;
        }
    }
}
