@import './variables';

.store {
  background-color: $beige;
  padding: 80px 0 120px;

  .carouselWrapper {
    clear: both;
    float: none;
    display: block;
  }

  .openhours {
    margin-top: 80px;
  }

  .no-margin-bottom {
    margin-bottom: 0;
  }
}

.map {
  font-size: 0;
}
